* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}


body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url("img/fundo.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    user-select: none;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


h2 {

	font-size: 3em;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 0.1em;

}

.game {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px; 
    transform-style: preserve-3d;
    perspective: 500px;
    margin-bottom: 30px;
}

.d-grid {
    margin-top: 150px; 
}


.item {
	position: relative;
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	transform: rotateY(180deg);
	transition: 0.25s;
}

.item::after{
	content: "";
	position: absolute;
	inset: 0;
	background: #000000;
	opacity: 0.85;
	transition: 0.25;
	transform: rotateY(0deg);
	backface-visibility: hidden;

}

.item img {
    display: none; 
    border: 2px solid white; 
    background-color: #f0f0f0; 
}

.item.boxOpen img {
    display: block; 
}

.item.boxOpen::after,
.item.boxMath::after {
	transform: rotateY(180deg);
}