* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body{
    background: url('img/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    color: #000;
    text-align: center;
}

.menu {
    background-color: #000000;
    color: #fff;
    text-align: center;
}

.panel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.panel {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 462px; 
}

.panel-row {
    display: flex;
}

.square {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    margin: 1px;
}

.square.lobo {
    background-image: url('img/lobo.png');
    background-size: cover;
}

.square.ovelha {
    background-image: url('img/ovelha.png');
    background-size: cover;
}


.menu-life{
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu-life img {
    height: 5.2em; 
    width: auto; 
}
